@import "variables.scss";

#irma-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%) translateY(-50%);

  #modal-irmaqr {
    width: 230px;
    height: 230px;
  }

  .modal-content {
    font: 100% $font-stack;
    font-size: 14px;
    background-color: $irma-background-color;
    padding: 10px 10px 30px 10px;
  }

  p#irma-text {
    color: $irma-dark-blue;
    height: 75px;
    line-height: 130%;
  }

  .irma-page {
    margin: 0px auto;
  }

  .irma-content {
    background-color: white;

    position: relative;
    left: 0px;
    width: $irma-width;
    margin: $irma-margin;
    box-sizing: content-box;

    // Border
    border-style: solid;
    border-width: 0px;
    border-color: $irma-background-color;
    border-radius: 5px;

    padding: 20px;

    font-weight: 200;

    z-index: 1;
  }

  .irma-button-box {
    width: $irma-width + 40px;
    box-sizing: content-box;

    padding-top: 5px;
    margin-left: $irma-margin;
    margin-top: -$irma-margin;
    margin-right: $irma-margin;
    text-align: right;
  }

  .irma-logo-top {
    position: absolute;
    left: -40px;
    top: -40px;
    width: 160px;
    box-sizing: content-box;
    z-index: 2;
  }

  .irma-title {
    position: absolute;
    top: -30px;
    right: 0px;
    height: 40px;
    box-sizing: content-box;
    text-align: right;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
  }

  .irma-option-container {
    text-align: center;
    margin: 30px auto;
  }

  .irma-option-box {
    width: 230px;
    height: 230px;
    box-sizing: content-box;

    border-style: solid;
    border-width: medium;
    border-color: $irma-light-gray;
    border-radius: 6px;

    padding: 6px;
    display: inline-block;

    margin: 5px;
  }

  .irma-button {
    height: 40px;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0 0.5em;

    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    background-color: $irma-dark-gray;

    border-radius: 5px;
    border: 0px none;

    cursor: pointer;
  }

  #irma-text {
    text-align: justify;
    padding-left: 125px;
  }

  .irma-dialog {
    box-shadow: 0 0 50px rgba(0,0,0,0.5);

    // Slide effect
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &.irma-show .irma-dialog {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.irma-show {
  visibility: visible !important;
}

.irma-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  transition: all 0.3s;
}

.irma-show ~ .irma-overlay {
  opacity: 1;
  visibility: visible;
}
