$irma-dark-blue: #004289;
$irma-dark-gray: #888;
$irma-light-gray: #d0d0d0;
$irma-orange: #f6a800;
$irma-red: #e53434;

$irma-background-color: $irma-dark-blue;

$irma-margin: 40px;
$irma-width: 330px;

$font-stack: Ubuntu, sans-serif;
